<img src="../../../assets/paris.jpg">
<h2>Liste des Etudiants Parisiens</h2>
<table>
    <tr>
        <th>NOM</th>
        <th>Prenoms</th>
        <th>Rue</th>
        <th>Code Postal</th>
        <th>Ville</th>
        <th>Courriel</th>
        <th>Genre</th>
        <th>Age</th>
        <th>Id Candidat</th>
    </tr>
    <tr *ngFor="let etudiant of etudiants">
        @if (etudiant._ville=="Paris") {
        <td>{{etudiant._nom | uppercase}}</td>
        <td>{{etudiant._prenoms | titlecase}}</td>
        <td>{{etudiant._rue}}</td>
        <td>{{etudiant._cp}}</td>
        <td>{{etudiant._ville}}</td>
        <td>{{etudiant._courriel}}</td>
        <td>{{etudiant._genre}}</td>
        <td>{{etudiant._age}}</td>
        <td>{{etudiant._idCand}}</td>
        }
    </tr>
</table>